<ion-header>
    <ion-grid class="banner" >
        <ion-row wrap align-items-center style="height: 100%; ">
          <ion-col style="justify-content: center; display: flex!important;">
              <img src="assets/imgs/unodc.png">
          </ion-col>
          <ion-col style="justify-content: center; display: flex!important;">
              <img src="assets/imgs/cofepris.png">
            </ion-col>
          <ion-col style=" width:60%;justify-content: center; display: flex!important;">
              <img src="assets/imgs/funsalud.png" style="width:60%;">
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-header>

<ion-content padding class="login-content">
  
  <p>
    Cuestionario de Acceso a Medicamentos Controlados
  </p>

  <form (ngSubmit)="runLogin()">
    
    <ion-label>User</ion-label>
    <ion-item>
      <ion-input type="text" [(ngModel)]="userLogin.username" name="userLogin"></ion-input>
    </ion-item>

    <ion-label>Password</ion-label>
    <ion-item>
      <ion-input type="password" [(ngModel)]="userLogin.password" name="password"></ion-input>
    </ion-item>


    <button ion-button type="submit" block>Ingresar</button>

  </form>


  <button ion-button block (click)="syncInfo()">Sincronizar</button>


  <ion-list>
    <ion-item *ngIf="allUsers.length == 0"> 
      Empty
    </ion-item>
   <ion-item-sliding *ngFor="let user of allUsers; let i = index">
     <ion-item >
       <ion-label>{{ user.usuario }} {{ user.nombre }}</ion-label>
       <!-- <ion-checkbox (ionChange)="updateUser( user, i )" [checked]="user.completed"></ion-checkbox> -->
     </ion-item>
     <!-- <ion-item-options side="right" icon-left>
       <button ion-button color="danger" (click)="deleteUser(user, i)">
         <ion-icon name="trash"></ion-icon>
         Delete
       </button>
     </ion-item-options> -->
   </ion-item-sliding>
 </ion-list>



</ion-content>
