<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header >

  <ion-navbar color="primary">
    <ion-title class="white">{{loggedUser.nombre}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="salir()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>
-->
<ion-header>

  <ion-navbar hideBackButton>
  	<ion-buttons left>
		<button ion-button navPop>
			<ion-icon name="play"></ion-icon >
		</button>
    </ion-buttons>

    <ion-title>{{loggedUser.nombre}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="salir()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item
    >
      <ion-label>Seleccione Establecimiento</ion-label>
      <ion-select [(ngModel)]="establishmentSelected" cancelText="Cancel" okText="Okay" (ionChange)="optionChanged()">
        <ion-option *ngFor="let est of establishments" [value]="est">{{est.nombre}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="establishmentSelected.tipo_establecimiento_id == 1">
      <ion-label>Seleccione Subtipo</ion-label>
      <ion-select [(ngModel)]="subtypeSelected" cancelText="Cancel" okText="Okay" (ionChange)="subtypeChanged()">
        <ion-option *ngFor="let sub of subtypes" [value]="sub">{{sub.descripcion}}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>





  <button style="margin-top:60px;" ion-button block (click)="startSurvey()">Iniciar Cuestionario</button>



</ion-content>
