// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
    font-family: Calibri, sans-serif;
    }

h1{
    font-size: 1.5em;
}
.header_logo:after {
    display: none;
}

.header_logo {
    padding: 28px 0px;
    border-bottom: solid 1px $azul_default;
    background-color: #fff;
        text-align: center;
}


.back_img .fixed-content {
    background-image: url(../assets/imgs/fondo_blue_salud.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-color: $azul_fondo;
}

.button-md{
	background-color: $azul_default;
	 text-transform: capitalize;
	 color: $azul_fondo;

}

.button-outline-md{
	background-color: transparent;
	border: none;
	color: $azul_obscuro;
}

.button-md.activated,.button-md:hover:not(.disable-hover){
	background-color: $azul_obscuro;
}

.boton_chico{
    padding: 0px 16px;
    height: 28px;
    border-radius: 4px;
}

.flecha_abajo{
	height: 28px;
    border-bottom: 4px solid $azul_obscuro;
    width: 19px;
    margin-left: 8px;
    margin-right: 8px;
}

.flecha_abajo.activated, .flecha_abajo:hover:not(.disable-hover) {
	background-color: transparent;
    color: $azul_default;
    border-bottom: 4px solid $azul_default;
}

.margen{
    margin: 0px 10%;
}

.input_inicio {
    background-color: #fff;
    padding: 5px 10px;
    border: solid 2px $gris_input;
    border-radius: 4px;
    position: relative;
        margin: 17px 0px;
    label{
	    position: absolute;
	    top: -12px;
	    left: 7px;
	    background-color: $azul_default;
	    color: #fff;
	    padding: 1px 7px;
	    border-radius: 4px;
	    font-size: 0.9em;
	}
    input{
	    height: 27px;
	    border: none;
	    padding: 0px;
	    width: 88%;
	    color: #000;
	    padding-left: 3px;
	}

	input[type="password"]{
	    	    width: 68%;
	    }

	.button-outline.button-outline-md {
	    color: $gris_input;
	    width: 21px;
	    height: 21px;
	    border: 2px solid $gris_input;
	    padding: 0px;
	    vertical-align: baseline;
	    margin: 0px;
	}
	.button-outline.button-outline-md.laolvide{
		width: auto;
		color: $azul_default;
		font-size: 0.8em;
		border: none;
	}

	.button-outline.button-outline-md.laolvide.activated, .button-outline.button-outline-md.laolvide:hover:not(.disable-hover){
		color: #fff;
	}
}

.titulo_cuestionario {
    color: $azul_default;
    text-align: center;
    margin-top: 5% !important;
    margin-bottom: 14%;
	h2{
		font-weight: bold;
	}
}


.icono_grande {
    font-size: 12em;
    text-align: center;
    margin: auto;
    width: 100%;
    color: $azul_default;
}

.icono_peque単o {
    font-size: 1.4rem;
    color: $azul_default;
}

.titulo{
	font-weight: bolder;
}

.subtitulo{
	font-weight: normal;
}



//************************Input-radio

.radios {
    margin: 0px 11%;
    padding-top: 21px;
    position: relative;
    transition: all ease 0.5s;
}

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 23px;
    padding-top: 1px;
    cursor: pointer;
    font-size: 14px;
}

.control p {
    margin: 0px;
    padding: 0px;
}

.radios:before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: $azul_default;
    position: absolute;
    top: 0;
    left: 9px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 2px solid $azul_default;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ffffff;
}

.control input:checked ~ .control_indicator {
    background: #ffffff;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #ffffff;
}
.control input:disabled ~ p {
    opacity: 0.5;
}

.control button:disabled ~ p {
    opacity: 0.5;
}

.respuestas{
transition: all 0.5s ease;
}

.respuestas li {
    margin: 10px 0px;
}
.control input:disabled ~ .control_indicator {
    background: #fff;
    opacity: 1;
    pointer-events: none;
    border: 2px solid #3da6d678;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator:after {
    left: 3px;
    top: 3px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: $azul_default;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #3da6d678;
}



//**************************Input -radio

.alert-wrapper {
    width: 80% !important;
    max-width: 100% !important;
    min-width: 80% !important;
}

  /**************  Estilo  de dise単ador ******************/



// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
    font-family: Calibri, sans-serif;
    }

h1{
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
}
textarea{
    width: 100%;
    border: $azul_default solid 2px;
    margin: 8px 0px;
}
.header_logo:after {
    display: none;
}

.header_logo {
    padding: 28px 0px;
    border-bottom: solid 1px $azul_default;
    background-color: #fff;
        text-align: center;
}


.back_img .fixed-content {
    background-image: url(../assets/imgs/fondo_blue_salud.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-color: $azul_fondo;
}

.button-md{
	background-color: $azul_default;
	 text-transform: capitalize;
	 color: $azul_fondo;

}

.button-outline-md{
	background-color: transparent;
	border: none;
	color: $azul_obscuro;
}

.button-md.activated,.button-md:hover:not(.disable-hover){
	background-color: $azul_obscuro;
}

.boton_chico{
    padding: 0px 16px;
    height: 28px;
    border-radius: 4px;
}

.flecha_abajo{
	height: 28px;
    border-bottom: 4px solid $azul_obscuro;
    width: 19px;
    margin-left: 8px;
    margin-right: 8px;
}

.flecha_abajo.activated, .flecha_abajo:hover:not(.disable-hover) {
	background-color: transparent;
    color: $azul_default;
    border-bottom: 4px solid $azul_default;
}

.margen{
    margin: 0px 10%;
}

.input_inicio {
    background-color: #fff;
    padding: 5px 10px;
    border: solid 2px $gris_input;
    border-radius: 4px;
    position: relative;
        margin: 17px 0px;
    label{
	    position: absolute;
	    top: -12px;
	    left: 7px;
	    background-color: $azul_default;
	    color: #fff;
	    padding: 1px 7px;
	    border-radius: 4px;
	    font-size: 0.9em;
	}
    input{
	    height: 27px;
	    border: none;
	    padding: 0px;
	    width: 88%;
	    color: #000;
	    padding-left: 3px;
	}

	input[type="password"]{
	    	    width: 68%;
	    }

	.button-outline.button-outline-md {
	    color: $gris_input;
	    width: 21px;
	    height: 21px;
	    border: 2px solid $gris_input;
	    padding: 0px;
	    vertical-align: baseline;
	    margin: 0px;
	}
	.button-outline.button-outline-md.laolvide{
		width: auto;
		color: $azul_default;
		font-size: 0.8em;
		border: none;
	}

	.button-outline.button-outline-md.laolvide.activated, .button-outline.button-outline-md.laolvide:hover:not(.disable-hover){
		color: #fff;
	}
}

.titulo_cuestionario {
    color: $azul_default;
    text-align: center;
    margin-top: 5% !important;
    margin-bottom: 14%;
	h2{
		font-weight: bold;
	}
}


.icono_grande {
    font-size: 12em;
    text-align: center;
    margin: auto;
    width: 100%;
    color: $azul_default;
}

.icono_peque単o {
    font-size: 1.4rem;
    color: $azul_default;
}

.titulo{
	font-weight: bolder;
}

.subtitulo{
	font-weight: normal;
}

.toolbar-background {
background-color: $azul_default;
}
.toolbar-title-md,.bar-button-default-md{
color: #fff;
font-size: 1.4em;
}
ion-icon.icon.icon-md.ion-md-play {
transform: rotate(180deg);
font-size: 0.8em;
}

ion-buttons.bar-buttons.bar-buttons-md {
margin-left: 3%;
}

.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
    color: $azul_obscuro;
}

.content-md hr {
    background-color: $azul_default;
    height: 2px;
        margin: 30px 0px;
}

.cuestionarios_num {
    color: #a8a6a6;
    b{
        color: #000;
    }
}
.icono_sync{
        vertical-align: sub;
}

button.icono_sync.disable-hover.button.button-md.button-outline.button-outline-md:hover:not(.disable-hover),button.icono_sync.disable-hover.button.button-md.button-outline.button-outline-md.activated{
       color: #fff !important;
}

select {
    width: 100%;
    font-size: 1em;
    border: none;
    background-color: $gris_input;
    padding: 8px;
    margin: 10px 0px;
    option{
        background-color: $gris_dropdown;
        border: none;
        
    }

    > :nth-child(1){
        background-color: #fff;
    }

    > :nth-child(3){
        background-color: #fff;
    }

}

button.boton_chico.button.button-md.button-outline.button-outline-md {
    color: #a8a6a6;
    text-align: left;
    padding: 0px;
    font-size: 0.8em;
    &:hover:not(.disable-hover){
        color:#fff;
    }
    &.activated {
        color:#fff;
    }
    span{
        display: block;
    }
    &:hover:not(.disable-hover) > span{
        color:#fff;
    }
    &.activated > span{
        color:#fff;
    }
    .crear_cuenta{
          color: $azul_default;
          margin: 5px 0px;
    }
}


.radios_secciones{
    margin: 30px 0px;
    & > *{
        float: left;
    }
    h1{
        width: 40%;
    }
}

.nuevas_respuestas{
    width: 50%;
    margin: auto;
}

//************************Input-radio

.radios {
    margin: 0px 11%;
    padding-top: 21px;
    position: relative;
    transition: all ease 0.5s;
}

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 23px;
    padding-top: 1px;
    cursor: pointer;
    font-size: 14px;
}

.control p {
    margin: 0px;
    padding: 0px;
}

.radios:before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: $azul_default;
    position: absolute;
    top: 0;
    left: 9px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 2px solid $azul_default;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ffffff;
}

.control input:checked ~ .control_indicator {
    background: #ffffff;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #ffffff;
}
.control input:disabled ~ p {
    opacity: 0.5;
}

.respuestas{
transition: all 0.5s ease;
}

.respuestas li {
    margin: 10px 0px;
}
.control input:disabled ~ .control_indicator {
    background: #fff;
    opacity: 1;
    pointer-events: none;
    border: 2px solid #3da6d678;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator:after {
    left: 3px;
    top: 3px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: $azul_default;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #3da6d678;
}



//**************************Input -radio */

/********************************* Input checkbox */
.checkbox_st{
    .control {
        font-family: arial;
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 5px;
        padding-top: 3px;
        cursor: pointer;
        font-size: 16px;
    }
        .control input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
    .control_indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #ffffff;
        border: 2px solid #a8a6a6;
    }
    .control-radio .control_indicator {
        border-radius: 0px;
    }

    .control:hover input ~ .control_indicator,
    .control input:focus ~ .control_indicator {
        background: #ffffff;
    }

    .control input:checked ~ .control_indicator {
        background: #000000;
    }
    .control:hover input:not([disabled]):checked ~ .control_indicator,
    .control input:checked:focus ~ .control_indicator {
        background: #000000;
    }
    .control input:disabled ~ .control_indicator {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
    }
    .control_indicator:after {
        box-sizing: unset;
        content: '';
        position: absolute;
        display: none;
    }
    .control input:checked ~ .control_indicator:after {
        display: block;
    }
    .control-checkbox .control_indicator:after {
        left: 5px;
        top: 2px;
        width: 4px;
        height: 8px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    .control-checkbox input:disabled ~ .control_indicator:after {
        border-color: #7b7b7b;
    }
}

/********************************* Input checkbox */


/*################################# Flechas*/

ul.flechas_sec{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 35px;
    margin-bottom: 18px;
    position: relative;
    margin-top: -0.5em;

    &:after{
        width: 35px;
    height: 35px;
        content: "";
        position: absolute;
        border-top: 17px solid transparent;
        border-left: 23px solid #fff;
        border-bottom: 18px solid transparent;
        left: 0%;
        top: 0;
    }

    &:before{
        width: 35px;
    height: 35px;
        content: "";
        position: absolute;
        border-top: 17px solid transparent;
        border-left: 23px solid $azul_fondo_numero;
        border-bottom: 18px solid transparent;
        right: -32%;
        top: 0;
    }

    > :nth-child(1){
        z-index: 6;
        position: absolute !important;
        left: -23%;
        background-color: $azul_default !important;
        &:before{
                border-left: 23px solid $azul_default !important;
        }
    }

    > :nth-child(2){
        z-index: 5;
    }

    > :nth-child(3){
        z-index: 4;
    }

    > :nth-child(4){
        z-index: 3;
    }
    > :nth-child(5){
        z-index: 2;
    }

    > :nth-child(6){
        z-index: 1;
        position: absolute !important;
        right: -14%;
        background-color: $azul_default !important;
        &:before{
                border-left: 23px solid $azul_default !important;
        }
    }

    li.flechas_li {
        padding: 2px;
        width: 22%;
        padding-left: 10%;
        display: inline-block;
        height: 35px;
        background-color: $azul_fondo_numero;
        text-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        color: $azul_numero;

        &.activada{
            background-color:$azul_default;
            color: #fff;
        }

        &:after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: 17px solid transparent;
            border-left: 23px solid #fff;
            border-bottom: 18px solid transparent;
            left: 0%;
            top: 0;
        }

        &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: 17px solid transparent;
            border-left: 23px solid $azul_fondo_numero;
            border-bottom: 18px solid transparent;
            right: -0.88em;
            top: 0;
        }

        &.activada:before{
            border-left: 23px solid $azul_default;
        }
    }
}



/*################################# Flechas*/



/**************  Estilo  de dise単ador ******************/
